fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
python-jose[cryptography]
passlib[bcrypt]
pydantic
python-multipart
email-validator
python-dotenv
alembic
pydantic-settings
bcrypt==4.0.1
pycryptodome
PyNaCl
sendgrid
moviepy
httpx 
python-dotenv
cryptography
asyncpg